@import "bootstrap/scss/bootstrap.scss"

body
    font-family: monospace
    background-color:  #393939

hr
    border: 2px solid black
    border-radius: 3px

h3
    color: white

.input 
    margin: auto
    padding: 25px

.step
    background-color: #e6e6fa
    padding: 5px
    border: 3px solid black
    margin-bottom: 5px
    font-size: 18px